# SQL

- A tuple = a record = row
- A table = a set of tuples

## join

support we have a table with following schema

```sql
drop table if exists product, location;

create table location(
    id int primary key auto_increment,
    location text not null
);

create  table product(
    id int primary key auto_increment,
    name text,
    location_id int,
    foreign key (location_id) references location(id)
);

insert into location  (location) values ('Shenzhen');
insert into location  (location) values ('Shanghai');
insert into location  (location) values ('Beijing');

insert into product (name, location_id) values ('iPad', 1);
insert into product (name, location_id) values ('iPhone', 2);
insert into product (name, location_id) values ('iMac', 3);
```

### First way

```sql
select name from product inner join location l on product.location_id = l.id where location = 'Shenzhen';
```

### Second way

```sql
select name from product, location l where location_id =l.id and location = 'Shenzhen';
```

### Outter join


```
iPad	Shenzhen
iPhone	Shanghai
iMac	Beijing
Null	Hangzhou

```

### Inner join

```
iPad	Shenzhen
iPhone	Shanghai
iMac	Beijing
```

# PySpark

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/f0/26/198fc8c0b98580f617cb03cb298c6056587b8f0447e20fa40c5b634ced77/pyspark-3.0.1.tar.gz (204.2MB)
     |████████████████████████████████| 204.2MB 61kB/s
Collecting py4j==0.10.9
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
     |████████████████████████████████| 204kB 32.1MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.1-py2.py3-none-any.whl size=204612243 sha256=bde33d542b14d579dae0fe882a74c735cdcb1eb1aa95d876737953e41f19d397
  Stored in directory: /root/.cache/pip/wheels/5e/bd/07/031766ca628adec8435bb40f0bd83bb676ce65ff4007f8e73f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.0.1

In [2]:
from pyspark.sql import Row

In [8]:
row = Row(name='Alice', age=11)
row.name, row.age

('Alice', 11)

In [11]:
row = Row(name='Alice', age=11, count=1)
print(f"Row.count: {row.count}")
print(f"Row['count']: {row['count']}")

Row.count: <built-in method count of Row object at 0x7fd3091ecaf0>
Row['count']: 1